body{
    margin: 0;
    padding: 0;
    
}

header{
    background-image: url(/home/uwase/Documents/moringa-school-projects/delani-studio-project/images/h_img.jpg);
    background-size: cover;
    background-position: center;
    height: 120vh;
}
.header-content{
    
    text-align: center;
    font-weight: bold;
    color: #fff;
    
}
.profile-text{
   font-weight: bold;
    margin: auto;
    padding-top: 30px;
    font-family: 'Lato', sans-serif;
}
.profile-texts{
    margin: auto;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
}
.logo{
    padding-top: 240px;
    margin: auto;
}
.mouse-animation{
    padding-top: 180px
}
.header-content p{
    font-size: 0.60rem;
    font-family: 'Lato', sans-serif;
    
}
.about-content{
    width: 70%;
    margin: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.about-container{
    padding-top: 50px;
    padding-bottom: 50px;
   
}
.service-container{
   background-image: url(/home/uwase/Documents/moringa-school-projects/delani-studio-project/images/s_image.jpg);
   background-size: cover;
   background-position: center;
   height: 50vh;
  
}
.service-content{
    color: #fff;
    width: 70%;
    margin: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top: 100px;
    font-weight: bold;
   
}
.our-work-img{
    text-align: center;
    
}
.work-container{
    padding-top: 100px;
}
.work-title{
    padding-bottom: 40px;
   
}
.portfolio-img{
    padding: 20px 20px 20px;
  
}
.portfolio-container{
    text-align: center;
    padding-top: 60px;
}
