body{
    margin: 0;
    padding: 0;
    
    
}
h2{
    padding-bottom: 40px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
   
   
}

/*  header css content */

header{
    background-image: url(https://res.cloudinary.com/auca/image/upload/v1601807252/h_img_tf8pog.jpg);
    background-size: cover;
    background-position: center;
    height: 120vh;
}
.header-content{
    
    text-align: center;
    font-weight: bold;
    color: #fff;
    
}

.profile-text{
   font-weight: bold;
    margin: auto;
    padding-top: 30px;
   
}
.profile-texts{
    margin: auto;
    padding-top: 40px;
    font-family: 'Lato', sans-serif;

}
.logo{
    padding-top: 240px;
    margin: auto;
}
.mouse-animation{
    padding-top: 180px
}

.mouse-animation{
    animation: bounce 2.6s infinite;
  }
  @keyframes bounce {
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-60px);
    }
    60% {
      transform: translateY(-60px);
    }
  }
  
.header-content p{
    font-size: 0.75rem;
    font-family: 'Cormorant Garamond', serif;

   
    
}
/* about css content */

.about-content{
    width: 70%;
    margin: auto;
    text-align: center;
    
}
.about-container{
    padding-top: 50px;
    padding-bottom: 50px;
   
}
/* service css content */

.service-container{
   background-image: url(https://res.cloudinary.com/auca/image/upload/v1601807286/s_image_o8arrq.jpg);
   background-size: cover;
   background-position: center;
   height: 80vh;
  
}
.service-content{
    color: #fff;
    width: 70%;
    margin: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top: 100px;
    font-weight: bold;
   
}
.text-work{
    display: none;
}
.tet-work{
    display: none;
}
.txt-work{
    display: none;
}
/* what we do css content */

.our-work-img{
    text-align: center;
    
}
.work-container{
    padding-top: 100px;
}
.product{
    font-weight: bold;
}
.design{
    font-weight: bold;
}
.develop{
    font-weight: bold;
}
/* portfolio css content  */


.portfolio-container{
    text-align: center;
    padding-top: 60px;
    margin: 80px  80px;
}
.overlays-one{
    background: rgba(80, 77, 77, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
    display: none;
}

.content-text {
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 6px solid #fff;
    display: none;
  
    padding: 20px 0;
}

.content-text p {
    color: white;
    font-size: 20px;
    
}
.overlays-two{
    background: rgba(92, 92, 92, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.9;
    display: none;
}

.content-text-two{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
  border: 6px solid #fff;
    padding: 20px 0;
}

.content-text-two p {
    color: white;
    font-size: 40px;
    
}

.overlays-three{
    background: rgba(228, 161, 74, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    display: none;
}

.content-text-three{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 6px solid #fff;
    display: none;
  
    padding: 20px 0;
}

.content-text-three p {
    color: rgb(196, 95, 1);
    font-size: 30px;
    
}
.overlays-four{
    background: rgba(87, 86, 86, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    display: none;
}

.content-text-four{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 6px solid #fff;
    display: none;
  
    padding: 20px 0;
}

.content-text-four p {
    color: rgb(238, 9, 9);
    font-size: 20px;
    font-weight: bold;
    
}
.overlays-five{
    background: rgba(166, 211, 219, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  
    opacity: 0.7;
    display: none;
}

.content-text-five{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 6px solid #fff;
    padding: 20px 0;
}

.content-text-five p {
    color: rgb(10, 69, 80);
    font-size: 30px;
    font-weight: bold;
    
}
.overlays-six{
    background: rgba(131, 132, 133, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
   
    opacity: 0.7;
    display: none;
}

.content-text-six{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
    border: 6px solid #fff;
    padding: 20px 0;
}

.content-text-six p {
    color: rgb(65, 66, 66);
    font-size: 20px;
    font-weight: bold;
    
}
.overlays-seven{
    background: rgba(190, 107, 58, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    display: none;
}

.content-text-seven{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
  border: 6px solid #fff;
    padding: 20px 0;
}

.content-text-seven p {
    color: rgb(78, 34, 4);
    font-size: 20px;
    
}
.overlays-eight{
    background: rgb(90, 50, 28);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    display: none;
}

.content-text-eight{
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: none;
  border: 4px solid #fff;
    padding: 20px 0;
}

.content-text-eight p {
    color: rgb(182, 179, 176);
    font-size: 40px;
    
}
/* contact css */

.contact-us{
  max-width: 700px;
  margin-right: 50px;
}
.contact-content{
    background-image: url(https://res.cloudinary.com/auca/image/upload/v1601807177/c_image_r1otzn.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: #fff;
    
}
.contact-us{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    text-align: center;

}
.text-name, .text-email, .text-message{
      background: none;
      border: none;
      outline: none;
     border-top: 1px solid #fff;
     border-bottom: 1px solid #fff;
     border-right:1px solid #fff ;
     border-left:1px solid #fff;
      color: #fff;
      padding: 3px 3px;
      margin-bottom: 40px;
      
}
::-webkit-input-placeholder{
    color: #fff;
}
.text-name{
    float: left;
    width:270px;
 
}
.text-email{
    float: right;
    width:270px;
   
  
}
.text-message{
    min-width: 550px;
    min-height: 200px;
    padding-top: 10px;
}

.contact-us h2{
    padding-top: 30px;
}
.btn{
    width: 60%;
}

/* footer css*/

.footer-content{
    text-align: center;
   padding-top: 50px;
    margin: auto;
    
    
}
.p-footer{
    padding-top: 30px;
    margin: auto;
    width: 50%;
    font-size: 0.8rem;

}
.icon-img{
    padding: 10px;
}
.copyright{
    font-size: 0.8rem;
}